.about-div{
    width: 100%;
    font-family: 'Poppins', sans-serif;
        height: fit-content;
    padding: 35px 0px;
    height: fit-content;
    background-color: rgb(249,249,249);
}

.about{
    /* background-color: rgb(249,249,249); */
    font-family: 'Nunito', sans-serif;
    width: 80%;
    margin: 30px auto;
   display: flex;
   justify-content: space-around;
   
}



.about .aboutsvg{
  height: 70%;
  width: 40%;
}


.about-right{
    width: 450px;
    font-size: 20px;
    word-spacing: 0.5em;
    line-height: 1.5em;
    text-align: left;
}
.about-right h1{
    font-size: 28px;
        text-align: left;
        font-weight: 900;
        color: rgb(117,16,247);
        width: fit-content;
        margin: 25px 0px;
    }
    .about-h2:hover{
        border-bottom: 3px solid rgb(117,16,247);
      }

    .about-right hr{
    margin: 10px 0px;
}

.about-right p span{
    color: rgb(117,16,247);
}

.fa-location-arrow{
    margin-right: 25px;
}

@media screen and (max-width: 800px) { 
    .about{
        text-align: left;
        height: fit-content;
    }
    /* .about img{
       display: none;
    } */
}

@media screen and (max-width: 400px) { 
    .about{
        display: flex;
        flex-direction: column-reverse;
        height: fit-content;
        justify-content: space-between;
        width: 100%;
    }
    .aboutsvg{
        display: flex;
        width: 75% !important;
        margin: 50px auto 0px auto;
     }
    .about-right{
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        margin: auto;
    }
}