.landing{
    width:86%;
    height: 84vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin:  auto;
    /* background-image: url("https://thumbs.dreamstime.com/b/simple-empty-white-paper-poster-hanging-background-shadows-eps-stock-vector-160218107.jpg");
background-position: -22% 60%;
    background-repeat: no-repeat; */
    max-width: 2200px;
}
.land{
    background-image: url("https://i.ibb.co/vwfJ8m5/Frame-1-21.png");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.landing .text{
    margin-right: 100px;
    text-align: left;
    /* display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-start; */
   
}
.landing .text h1{
      margin: 0;
      padding: 0;
      font-size: 65px;
    }
.landing .text p{
        margin: 0;
        padding: 0;
        font-size: 26px;
        font-weight: 700;
        color: #39424E;
}


/* Prakash Dsouza */

.wrapper {
    height: 70px;
    width: 430px;
    /*This part is important for centering*/
    /* display: grid;
    place-items: center; */
    font-size: 32px;
    overflow: hidden;
    margin: 0;
  }

  .myimg{
    border-radius: 250px;
    margin-right: -70px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  }
  
  .typing-demo {
    color: rgb(117,16,247);
    width: 37ch;
    animation: typing 5s steps(37), blink .5s step-end infinite alternate;
  
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 1.5em;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }

  .aaaa a{
    margin: 20px 0px;
  }

  .media-logo{
    width: 70%;
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
    margin-left: -10px;
  }
  .media-logo a{
    /* background: #000; */
    display: flex;
    width: fit-content;
    justify-content: left;
  }
 
  .btn {
    position: relative;
    display: inline-block;
    margin: 15px;
    padding: 12px 27px;
    text-align: center;
    font-size: 16px;
    letter-spacing: 1px;
    text-decoration: none;
    color: rgb(117,16,247);
    background: #ffffff;
    border: 3px solid rgb(117,16,247);
    cursor: pointer;
    transition: ease-out 0.5s;
    -webkit-transition: ease-out 0.5s;
    -moz-transition: ease-out 0.5s;
}
.btn.btn-border-3::after,
.btn.btn-border-3::before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    transition: .5s;
}

.btn.btn-border-3::after {
    top: -9px;
    left: -9px;
    border-top: 3px solid transparent;
    border-left: 3px solid transparent;
}

.btn.btn-border-3::before {
    bottom: -9px;
    right: -9px;
    border-bottom: 3px solid transparent;
    border-right: 3px solid transparent;
}

.btn.btn-border-3:hover {
    color: #222222;
}

.btn.btn-border-3:hover::after,
.btn.btn-border-3:hover::before {
    width: 30px;
    height: 30px;
    border-color: #222222;
}


.hello{
  font-size: 50px;
}







@media screen and (max-width: 800px) { 
  .landing{
     display: flex;
     flex-direction: column;
     height: auto;
     width: fit-content;
  }
  .text{
    width: 300px;
    display: flex;
    flex-direction: column;
  }
  .image{
    margin: 20px 0px;
    width: fit-content;
    height: fit-content;
  }
  .image img{
    border-radius: 200px;
    height: 300px;
    width: 350px;
  }
  .wrapper{
    height: 70px;
    width: inherit;
    font-size: 18px;
    overflow: hidden;
    margin: 0;
  }
  .media-logo{
  width: fit-content;
  margin: auto;
  display: flex;
  gap: 30px;
  }
}

@media screen and (max-width: 490px) { 
.landing{
  width: 95%;
  margin: auto;
  padding: 15px;
}
.text p{
  text-align: left;
  width: 370px;
}
.aaaa{
    width: fit-content;
    display: flex;
    justify-content: left;
    margin: 20px 0px;
}
.media-logo{
  width: 349px !important;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.image{
  width: 370px;
  display: flex;
  justify-content: center;
}
.wrapper{
  height: 70px;
  width: 350px;
  font-size: 27px;
  overflow: hidden;
  text-align: left;
}
}

@media screen and (max-width: 400px) { 
  /* .media-logo {
  } */
  .text{
    width: 100% !important;
    margin: 0 !important;
    overflow-x: hidden !important;
  }
  .wrapper{
    width: fit-content !important;
    margin: 0;  }

    .media-logo{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow-x: hidden;
    }
    .media-logo a i{
       font-size: 25px;
    }
    .media-logo{
      width: fit-content;
      margin: auto;
      display: flex;
      gap: 30px;
      }
      .navvv{
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        background-color: white;
        height: 70px;
      }
      .landing{
        margin-top: 70px;
            }
      

}

@media screen and (max-width: 250px) { 
  .text{
    width: 100% !important;
    overflow-x: hidden;
    margin: 0 !important;
  }
  .navvv{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    margin-bottom:20px ;
    background-color: white;
  }
  
}


